<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/lib/css/homePage.css">
    <title>Home Page</title>
</head>
<body>
    <div class="home-page-container">
        <!--Navbar Container-->
        <div class="navbar-home-page">
            <nav>
                <ul>
                    <li><button
                        onClick="handleLogout()"
                        class="btn-logout"
                        type="button" 
                        name="button"
                        >Logout</button></li>
                    <li class="i"><a href="#">Contact</a></li>
                    <li class="i"><a href="#">About</a></li>
                    <li class="i"><a href="#">Services</a></li>
                    <li class="i"><a href="#home">Home</a></li>
                    <p class="logo-text">RENCARS</p>
                </ul>
            </nav>
        </div>
        
        <!--Container-home-page-->
        <div id="#home" class="content-page-container">
            <div class="text-content">
               <p>
                We provide quality cars at guaranteed<br>prices
                and make it easy for you to<br>transact quickly
                and get insurance for two years
               </p>
            </div>
            <div class="text-content-vol2">
               <P>
                Lets Order Now Before it gone
               </P>
            </div>
            <div class="btn-content">
                <button class="btn-buy" type="button" name="button">Buy Now</button>
            </div>
            <div class="image-content">
                <img class="img-car" src="/public/carImg.png" alt="">
            </div>
        </div>

         <!--Container-Services-page-->
         <div class="content-services-page">
            <div class="services-page">
                
            </div>
         </div>
    </div>
    <script src="/src/lib/js/homePage.js"></script>
</body>
</html>