<!DOCTYPE html>
<html>
    <head>
        <title>Form Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/lib/css/login.css">
    </head>
    <body>
        <div class="login-page-container">
            <div class="login-image-content">
               <img class="image-login" src="/public/carImg.png" alt="">
            </div>
            <div class="card-content">    
                <div class="content-fill-card">
                    <div class="label-username">
                        <label class="username">
                            Username
                        </label>
                    </div>
                    <input class="input-username" placeholder="username@gmail.com" type="email" id="username">
                    <div class="label-password">
                        <label class="password">
                            Password
                        </label>
                    </div>
                    <input type="password" class="input-password" placeholder="********" id="password">
                    <button type="button" name="button" class="button-login" onClick="getLogin()">
                        Sign In
                    </button>
                </div>
               
            </div>
        </div>
        <script src='/src/lib/js/login.js'></script>
    </body>
</html>